.friendsComponent {
    background-color: aqua;
    border-radius: 7px;
    padding: 15px;

    display: grid;
    grid-template-areas:
    "titleArea titleArea"
    "friendsListArea chatMessagesArea";
    grid-template-columns: 4fr 10fr;
}

.friendsTitleBlock {
    grid-area: titleArea;
}

.friendsListBlock {
    grid-area: friendsListArea;
}

.friendsChatMessagesBlock {
    grid-area: chatMessagesArea;
}