.nav {
  grid-area: n;
  background-color: blueviolet;
  text-align: center;
  padding-top: 50px;
  height: 420px;
  border-radius: 7px;
}

.button a {
  text-decoration: none;
  background-color: yellowgreen;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}

.button a:hover {
  background-color: brown;
  color: white;
}

.button a.active {
  background-color: brown;
  border-radius: 5px;
  color: white;
}