.allPosts {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: yellowgreen;
    border-radius: 7px;
}

.textarea {
    height: 30px;
    width: 500px;
    max-height: 200px;
}

.textareaBlock .textarea {
    border-radius: 7px;
    border-color: cyan;
    border-width: 2px;
}

.textareaBlock .addPostButton {
    background-color: violet;
    position: absolute;
    
    border: none;
    border-radius: 7px;
    color: black;
    padding: 8px 18px;
    margin-left: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}